{% extends 'base.html' %}
{% block title %}Register{% endblock %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/RegisterStyles.css') }}">
<style>
  body {
    background-image: url("{{ url_for('static', filename='img/LoginAndRegister.png') }}");
  }
</style>
{% endblock %}
{% block content %}
  <h1 class="Name-Of-Company">NeuroVoice</h1>
  <h2 class="tagline">Early Insight for a Brighter Memory.</h2>
  <div class="container">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <div style="margin-bottom: 16px;">
        {% for cat, msg in messages %}
          <div style="font-weight: 700; color: red;">{{ msg }}</div>
        {% endfor %}
        </div>
      {% endif %}
    {% endwith %}
    <form id="loginForm" action="{{ url_for('register') }}" method="POST">
      <h2>Register</h2>
      <div class="error" id="error"></div>
      <div class="input-box">
        <input type="text" id="username" name="username" placeholder="Username" required>
        <i class="fas fa-user"></i>
      </div>
      <div class="input-box">
        <input type="email" id="email" name="email" placeholder="Email" required>
        <i class="fas fa-envelope"></i>
      </div>
      <div class="input-box">
        <input type="password" id="password" name="password" placeholder="Password" required>
        <i class="fas fa-lock"></i>
      </div>
      <div class="input-box">
        <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirm Password" required>
        <i class="fas fa-lock"></i>
      </div>
      <div class="input-box">
        <input type="number" id="age" name="age" placeholder="Age" required>
        <i class="fas fa-calendar-days"></i>
      </div>
      <div class="input-box">
        <input type="number" id="mmse" name="mmse" placeholder="MMSE Score" required>
        <i class="fas fa-envelope"></i>
         <div class="tooltip">
          You can obtain your MMSE score from your doctor or a licensed neuropsychologist or alternatively you can head to <a href="https://mmse.neurol.ru/" target="_blank" rel="noopener">mmse.neurol.ru</a> and take a test there.
        </div>
      </div>
      <div class="input-box">
        <select id="sex" name="sex" required>
          <option value="" disabled selected hidden>Sex</option>
          <option value="M">Male</option>
          <option value="F">Female</option>
        </select>
        <i class="fas fa-venus-mars"></i>
      </div>
      
      <button type="submit">Register</button>
    </form>
  </div>
{% endblock %}